{% extends 'base.html.twig' %}

{% block title %}Details Order E-commerce{% endblock %}

{% block body %}
<style type="text/css">
        .colors{
           color:  #00580a;
            }
    </style>
{{ include("partials/title_section.html.twig", {'name': 'Order Details'}) }}
<div class="section">
	<div class="container">
        <div>
            <div class="order-reference">
                <div class="colors">Reference: {{ order.reference }}</div>
                <div class="colors">Date: {{ order.createdAt |date('d/m/Y') }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive shop_cart_table">
                	<table class="table">
                    	<thead>
                        	<tr>
                            	<th class="product-thumbnail">ID</th>
                                <th class="product-name">Product Name</th>
                                <th class="product-price">Price</th>
                                <th class="product-quantity">Quantity</th>
                                <th class="product-subtotal">SubTotalHT</th>
                                <th class="product-subtotal">Taxe</th>
                                <th class="product-subtotal">SubTotalTTC</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for element in order.orderDetails %}
                                <tr>
                            	<td class="product-thumbnail">{{ element.id }}</td>
                                <td class="product-name" data-title="Product"><a href="#">{{ element.productName }}</a></td>
                                <td class="product-price" data-title="Price">${{ element.productPrice | number_format(2, ',', '') }}</td>
                                <td class="" data-title="Quantity">{{ element.quantity }}</td>
                              	<td class="" data-title="Total">${{ element.subTotalHT | number_format(2, ',', '') }}</td>
                                <td class="" data-title="Total">${{ element.Taxe | number_format(2, ',', '') }}</td>
                                <td class="" data-title="Total">${{ element.subTotalTTC | number_format(2, ',', '') }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
            	<div class="medium_divider"></div>
            	<!--<div class="divider center_icon"><i class="ti-shopping-cart-full"></i></div>
            	<div class="medium_divider"></div>-->
            </div>
        </div>
        <div class="row">
        	  <div class="col-md-6">
            </div>
            <div class="col-md-6">
            	<div class="border p-3 p-md-4">
                    <div class="heading_s1 mb-3">
                        <h6>Order Totals</h6>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="cart_total_label">Order Subtotal HT</td>
                                    <td class="cart_total_amount">${{ (order.subTotalHT / 100)  | number_format(2, ',', '')}}</td>
                                </tr>
                                <tr>
                                    <td class="cart_total_label">TVA (20%)</td>
                                    <td class="cart_total_amount">${{ (order.Taxe / 100) | number_format(2, ',', '') }}</td>
                                </tr>
                                <tr>
                                    <td class="cart_total_label">Carrier : {{  order.carrierName }}</td>
                                    <td class="cart_total_amount">${{ (order.carrierPrice / 100) | number_format(2, ',', '') }}</td>
                                </tr>
                                <tr>
                                    <td class="cart_total_label">Total TTC</td>
                                    <td class="cart_total_amount"><strong>${{ (order.subTotalTTC / 100) | number_format(2, ',', '') }}</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <a href="{{ path('account') }}" class="btn btn-fill-out">Back To account</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
