{% extends 'base.html.twig' %}
{% block title %}Shop Page !{% endblock %}
{% block stylesheets %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"  />
{% endblock %}
{% block body %}
{{ include("partials/title_section.html.twig", {'name': 'Shop'}) }}
<div class="section">
	<div class="container">
    	<div class="row">
			<div class="col-md-10">
                <div class="row shop_container">
                    {% if not products %}
                        <h3 class="m-5" style="color: #00580a;">Sorry. No product matches your search results.</h3>
                    {% endif %}
                    {% for product in products %}
                        {{ include('partials/product.html.twig', {'product': product}) }}
                    {% endfor %}
                </div>
        	</div>
          <div class="col-md-2 order-lg-first mt-4 pt-2 mt-lg-0 pt-lg-0">
            	<div class="sidebar">
                    {{ form_start(search) }}
                	{#<div class="widget">
                        <h5 class="widget_title">Categories</h5>
                        {{ form_row(search.categories) }}
                    </div>#}
                    <div class="widget">
                    	<h5 class="widget_title">Categories</h5>
                        {{ form_row(search.categories) }}
                    </div>
                    <div class="widget">
                    	<h5 class="widget_title">Price</h5>
                        <div class="form-row">
                            <div class="col-md-6">
                                {{ form_row(search.minprice) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(search.maxprice) }}
                            </div>
                        </div>
                    </div>
                    <div class="widget">
                    	<h5 class="widget_title">Tags</h5>
                        {{ form_row(search.tags) }}
                    </div>
                    <button class="btn btn-border-fill btn-block"> Search</button>
                    {{ form_end(search) }}
                </div>
          </div>
        </div>
    </div>
</div>

{% endblock %}
{% block javascriptBas %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.js-categories-multiple').select2();
        });
    </script>
{% endblock %}