<div class="preloader">
    <div class="preloader-content">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<header class="header_wrap fixed-top header_with_topbar">
    <div class="top-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="d-flex align-items-center justify-content-center justify-content-md-start">
                        <div class="lng_dropdown mr-2">
                            <select name="countries" class="custome_select">
                                <option value='en' data-image="assets/images/eng.png" data-title="English">English</option>
                                <option value='fn' data-image="assets/images/fn.png" data-title="France">France</option>
                                <option value='us' data-image="assets/images/us.png" data-title="United States">United States</option>
                            </select>
                        </div>
                        <div class="mr-3">
                            <select name="countries" class="custome_select">
                                <option value='USD' data-title="USD">USD</option>
                                <option value='EUR' data-title="EUR">EUR</option>
                                <option value='GBR' data-title="GBR">GBR</option>
                            </select>
                        </div>
                        <ul class="contact_detail text-center text-lg-left">
                            <li><i class="ti-mobile"></i><span>000-000-000</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8>
                    <div class="text-center text-md-right">
                           <ul class="header_list">
                            <li><a href=""><i class="ti-control-shuffle"></i><span>Compare</span></a></li>
                            <li><a href=""><i class="ti-heart"></i><span>Wishlist</span></a></li>
                            {% if app.user %}
                                {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('admin') }}"><i class="fas fa-tools"></i><span>admin</span></a></li>
                                {% endif %}
                                <li><a href="{{ path('account') }}"><i class="fas fa-user"></i><span>Account</span></a></li>
                                <li>
                                    <a class="nav-link" href="#"> <small> Logged in as : {{ app.user.firstname|capitalize }}
						            {{ app.user.lastname|capitalize }}</small></a>
                                </li>
                               <li><a href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i><span>Logout</span></a></li> 
                            {% else %}
                                <li><a href="{{ path('app_login') }}"><i class="fas fa-plug"></i><span>Login</span></a></li>
                                <li><a href="{{ path('app_register') }}"><i class="fas fa-sign-in-alt"></i><span>Register</span></a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom_header dark_skin main_menu_uppercase">
        <div class="container">
            <nav class="navbar navbar-expand-lg"> 
                <a class="navbar-brand" href="{{ path('home') }}">
                    <img class="logo_light" src="/assets/images/logo_e-commerce.png" alt="logo" />
                    <img class="logo_dark" src="/assets/images/logo_e-commerce.png" alt="logo" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false"> 
                    <span class="ion-android-menu"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="dropdown">
                            <a  class="nav-link" href="{{ path('home') }}">Home</a>
                        </li>
                        <li class="dropdown">
                            <a class=" nav-link" href="#" data-toggle="dropdown">Pages</a>
                        </li>
                        <li class="">
                            <a class=" nav-link" href="#" data-toggle="dropdown">Products</a>
                           
                        </li>
                        <li class="dropdown">
                            <a class=" nav-link" href="#">Blog</a>
                            
                        </li>
                        <li class="">
                            <a class=" nav-link" href="{{ path('shop') }}">Shop</a>
                            
                        </li>
                        <li><a class="nav-link nav_item" href="{{ path('contact_new') }}">Contact Us</a></li> 
                    </ul>
                </div>
                <ul class="navbar-nav attr-nav align-items-center">
                    <li><a href="javascript:void(0);" class="nav-link search_trigger"><i class="linearicons-magnifier"></i></a>
                        <div class="search_wrap">
                            <span class="close-search"><i class="ion-ios-close-empty"></i></span>
                            <form>
                                <input type="text" placeholder="Search" class="form-control" id="search_input">
                                <button type="submit" class="search_icon"><i class="ion-ios-search-strong"></i></button>
                            </form>
                        </div><div class="search_overlay"></div>
                    </li>
                    <li class="dropdown cart_dropdown"><a class="nav-link cart_trigger" href="#" data-toggle="dropdown"><i class="linearicons-cart"></i><span class="cart_count">
                        {% if app.session.get('cart') %}
                            {{ app.session.get('cartData').data.quantity_cart }}
                        {% else %}
                           0
                        {% endif %}
                    </span></a>
                        <div class="cart_box dropdown-menu dropdown-menu-right">
                            <ul class="cart_list">
                                {% if app.session.get('cart') %}
                                    {% for element in app.session.get('cartData').products %}
                                        <li>
                                            <a href="{{ path('cart_remove', {'id': element.product.id}) }}" class="item_remove"><i class="ion-close"></i></a>
                                            <a href="#"><img src="/assets/uploads/products/{{ element.product.image }}" alt="{{ element.product.name }}">{{ element.product.name }}</a>
                                            <span class="cart_quantity"> {{ element.quantity }} x <span class="cart_amount"> <span class="price_symbole">$</span></span>{{ (element.product.price/100) | number_format(2, ',', '') }}</span>
                                        </li>
                                    {% endfor %}
                            </ul>
                                <div class="cart_footer">
                                    <p class="cart_total"><strong>Subtotal TTC :</strong> <span class="cart_price"> <span class="price_symbole">$</span></span>{{ app.session.get('cartData').data.subTotalTTC | number_format(2, ',', '') }}</p>
                                    <p class="cart_buttons"><a href="{{ path('cart') }}" class="btn btn-fill-line rounded-0 view-cart">View Cart</a><a href="{{ path('checkout') }}" class="btn btn-fill-out rounded-0 checkout">Checkout</a></p>
                                </div>
                                    {% else %}
                                        <li>Your cart is empty !</li>
                                     </ul>   
                                {% endif %}
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>