{% extends 'base.html.twig' %}

{% block title %}Checkout E-commerce{% endblock %}
{% block scriptStripe %}
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}
{% block body %}
{{ include("partials/title_section.html.twig", {'name': 'Checkout'}) }}
<div class="section">
	<div class="container">
        <div class="row">
        	<div class="col-md-6">
                <div class="">
                    <h4 class="text-center">Please, verify your delivery Address.</h4>
                    <div class="content" id="carrier">
                        {{ address | replace({"[spr]" : "<br>"}) | raw }}
                        <a href="{{ path('address_edit', {'id': address.id}) }}" class="btn btn-fill-out mt-1">Edit Address</a>
                        <a href="{{ path('checkout_edit') }}" class="btn btn-fill-out mt-1">Change Address</a>
                    </div>
                    
                </div>
                <div class=""><!--<div class="heading_s1">--><br>
                    <h4 class="text-center">Please, verify your carrier.</h4>
                    <div class="content" id="carrier">
                        {{ carrier | replace({"[spr]" : "<br>"}) | raw }}
                        <a href="{{ path('checkout_edit') }}" class="btn btn-fill-out mt-1">Change Carrier</a>
                    </div>
                </div>
                {% if informations %}
                <div class=""><br>
                    <h4 class="text-center">Please, verify your additional information.</h4>
                    <div class="content" id="carrier">
                        {{ informations }}
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="col-md-6">
                <div class="heading_s1">
                    <h4 class="text-center">Your Order.</h4>
                </div>
                <div class="order_review" id="carrier">
                    <div class="table-responsive order_table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                    {% for element in cart.products %}
                                    <tr>
                                        <td> {{ element.product.name }} <span class="product-qty">x {{ element.quantity }}</span></td>
                                        <td>${{ ((element.product.price/100)*(element.quantity)) | number_format(2, ',', '') }}</td>
                                    </tr>
                                    {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>SubTotal HT</th>
                                    <td class="product-subtotal">${{ cart.data.subTotalHT | number_format(2, ',', '') }}</td>
                                </tr>
                                <tr>
                                    <th>VAT (20%)</th>
                                    <td class="product-subtotal">${{ cart.data.Taxe | number_format(2, ',', '') }}</td>
                                </tr>
                                <tr>
                                    <th>Shipping ({{ carrier.name }})</th>
                                    <td class="product-subtotal">${{ (carrier.price / 100) | number_format(2, ',', '') }}</td>
                                </tr>
                                <tr>
                                    <th>Total</th>
                                    <td class="product-subtotal">${{ (cart.data.subTotalTTC + carrier.price/100) | number_format(2, ',', '') }}</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="payment_method">
                        <div class="heading_s1">
                            <!--<h4 class="text-center">Payment</h4>-->
                        </div>
                    </div>
                    <button type="submit" id="checkout-button" class="btn btn-fill-out btn-block">
                        Paid  ${{ (cart.data.subTotalTTC + carrier.price / 100) | number_format(2, ',', '') }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
    var stripe = Stripe("pk_test_51IHbm2JCknTJLH2EWOqUxkhsHagh4alNoifUDYQFwGDoeIYc85NUmzjS6VmajN20eUkqM7iNQLcGJrdvbIAZamsC00ARPWubhd");
    var checkoutButton = document.getElementById("checkout-button");
    checkoutButton.addEventListener("click", function () {
      fetch("/create-checkout-session/{{ reference }}", {
        method: "POST"
      })
        .then(function (response) {
            return response.json();
        })
        .then(function (session) {
            return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function (result) {
          // If redirectToCheckout fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using error.message.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function (error) {
          console.error("Error:", error);
        });
    });
 </script>
{% endblock %}